
				<ul id="menu">
					<li id="menuli"><a href="#" id="menuicon"><i class="icon-reorder"></i></a>
						<ul id="hiddenmenu">
							<li><%= link_to 'Home', root_path %></li>
							<li><%= link_to 'Languages', languages_path %></li>
							<li><%= link_to 'Dictionaries', dictionaries_path %></li>
						</ul>

					</li>
				</ul>